.spinner-container-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.7); Grey overlay */
  /* background-color: rgb(0, 0, 0); Black overlay */
  /* background-color: #111827; */
  z-index: 9999;
}

.spinner-1 {
  width: 60px;
  height: 60px;
  border: 6px solid var(--primary-color); /* Red ring */
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite, pulse 2s ease-in-out infinite;
}

.spinner-text-1 {
  margin-top: 16px;
  font-family: 'Caveat', cursive;
  font-size: 24px;
  color: var(--text-color);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7); }
  70% { box-shadow: 0 0 0 20px rgba(253, 3, 3, 0); }
  /* 70% { box-shadow: 0 0 0 20px rgb(253, 3, 3); } */
  100% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0); }
}