.hero {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 90%;
}

.light .hero-content {
  color: #010306;
}

.light .gradient-shade {
  background: linear-gradient(to top, rgb(252, 252, 252), rgba(255, 255, 255, 0) 65%);
}



@media (max-width: 1024px) {
  .hero-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }
}


@media (max-width: 640px) {
  .hero {
    height: 350px;
  }
  .hero-title {
    font-size: 2.9rem;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 300px;
  }
  .hero-content {
    margin-top: 4.5rem;
  }
  .hero-title {
    font-size: 2.5rem;
  }
}


@media (max-width: 416px) {
  .hero {
    height: 300px;
  }
  .hero-content {
    margin-top: 4rem;
  }
  .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 340px) {
  .hero {
    height: 300px;
  }
  .hero-content {
    margin-top: 5rem;
  }
  .hero-title {
    font-size: 1.9rem;
  }
}

@media (max-width: 320px) {
  .hero {
    height: 300px;
  }
  .hero-content {
    margin-top: 5rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
}